.container
      .row
        .col-md-12
          h2.text-center Constructor
          h3.text-center friend's status
      .row
        .col-md-6
          .wrap-field.clearfix
            -for(var i=0;i < 10;i++)
              .filed-item
                -for(var j = 0;j < 10; j++)
                  span
            
        .col-md-6
          h4 Ships
          ul
            li Item 1
              ul
                li Sub-item 1-1
                li Sub-item 1-2
            li Item 2
              ul
                li Sub-item 2-1
                li Sub-item 2-2
                li Sub-item 2-3
            li Item 3
          button.play Play
