.container
      .row
        .col-md-12
          h2.text-center Constructor
          h3.text-center.friends-status Friend's status
      .row
        .col-md-6
          .wrap-field.clearfix(ng-drop="true", ng-drop-success="vm.dropShip($data,$event)")
            -for(var i=0;i < 10;i++)
              .filed-item
                -for(var j = 0;j < 10; j++)
                  span
            
        .col-md-6
          .block-ships
            h3 Ships
            ul(class="list-ship")
              li 4-х палубный
                ul
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 4; j++)
                          span.ships-type
                    
              li 3-х палубный
                ul
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 3; j++)
                          span.ships-type
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 3; j++)
                          span.ships-type
              li 2-х палубный
                ul
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 2; j++)
                          span.ships-type
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 2; j++)
                          span.ships-type
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 2; j++)
                          span.ships-type
              li 1-но палубный
                ul
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 1; j++)
                          span.ships-type
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 1; j++)
                          span.ships-type
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 1; j++)
                          span.ships-type
                  li
                    .wrap-field-ships.clearfix
                      .filed-item(ng-drag="true")
                        -for(var j = 0;j < 1; j++)
                          span.ships-type
      .row
        .col.l12          
          button.play Play
