html
  head
    title Battleship
    link(href="/bundle/bundle.requirences.css")
  body(ng-app="battle-ship-app")
    .container
      .row
        .col-md-12
script(src="bundle/bundle.requirences.js")
script(src="bundle/bundle.application.js")
