<<<<<<< HEAD
head
  title Battleship
body
  
=======
html
  head
    title Battleship
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    .container
      .row
        .col-md-12
>>>>>>> e5e6489bb6f21feac32f38b131f43b37f1e1a901
