doctype html
html
  head
    title Battleship
    link(href="bundle/bundle.requirences.css", rel="stylesheet")
    link(href="bundle/bundle.styles.css", rel="stylesheet")
  body(ng-app="battle-ship-app")
    div(ui-view)
script(src="bundle/bundle.requirences.js")
script(src="bundle/bundle.application.js")
