html
  head
    title Battleship
    link(href="/bundle/bundle.requirences.css")
  body(ng-app="battle-ship-app")
    .container
      .row
        .col-md-12
          button.button-paly Play with random player
      .row
        .col-md-12
          p or
          p paly with friend
      .row
        .col-md-12
          input
script(src="bundle/bundle.requirences.js")
script(src="bundle/bundle.application.js")
