.container
  .row
    .col-md-12
      button.button-play(ng-click="vm.getRandomPlayer()") Play with random player
  .row
    .col-md-12
      .block-p
          p.text-center or
          p.text-center play with friend
  .row
    .col-md-12
      input(type='text', class='input-link', data-ng-value="vm.friendLink")
